<p>home-page works!</p>
<button aria-colspan="adminLogin">
    <a [routerLink]="['adminLogin']" class="button two">Admin Login</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button>
<a [routerLink]="['custLogin']" class="button two">Customer Login </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button aria-colspan="mgrLogin">
<a [routerLink]="['mgrLogin']" class="button two">Manager Login</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button aria-colspan="engrLogin">
    <a [routerLink]="['engrLogin']" class="button two">Engineer Login</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
 