<div id="img" >
    <h1>Enter Your Details</h1>
<div class="login">
    
<form (ngSubmit)="logMe()" >
    Manager Name : 
    <select [(ngModel)]="mgId" name="mgId" class="dropd">
        <option *ngFor="let m of mgr" value={{m.mgr_ID}}>
            {{m.mgrname}}
        </option>
    </select> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br/><br/> 
    Password : 
    <input type="password" name="passCode" [(ngModel)]="passCode" class="dropd" /> 

    <br/><br/>
    
    <input type="submit" value="Sign In" class="button">
  </form>
</div>
</div>
