<table border="3" align="center">
    <tr>
        <th>Engineer ID</th>
        <th>Engineer Name</th>
        <th>Pincode</th>
        <th>Contact Number</th>
    </tr>
    <tr>
        <td>{{engr.engr_ID}} </td>
        <td>{{engr.engrname}} </td>
        <td>{{engr.pincode}} </td>
        <td>{{engr.mobileno}} </td>
    </tr>
</table>
<button  aria-colindex="SHOW TICKETS">
    <a [routerLink]="['/engrdashBoard',{outlets: {'mphasis': ['showtickets']}}]"> SHOW TICKETS</a> </button>
    <router-outlet name="mphasis"></router-outlet>
